body{
    background-image: url(../images/image_fond_mw.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;  
    font-family: arial;
    color: #9f68af;
    font-size: 12px;
    text-align: center ;
    margin-top: 20px;
}

#container{
    /*background-color: black;*/
    margin: 0px auto;
    width: 75%;
    /*border: 1px solid #9f68af;*/
    overflow: hidden;
    /* me sert pour centrer mon image et avoir la bordure extérieure du header AT*/
    }
img.responsive_logo{
    /*besoin de faire une différence avec la img.responsive ci-dessous car je ne veux pas de bordure pour le bandeau*/
    /*border: 1px solid #9f68af;*/
    display: block;
    margin-right: auto;
    margin-left: auto;
    /*centrer mon bandeau avec les deux margin dans le container*/
    max-width: 99%;
    /* Si 100%, bordure droite n'apparait pas */
    height: auto;
    /* solution pour une image responsive trouvée ici
    https://openclassrooms.com/forum/sujet/css-responsive-modifier-la-taille-des-images
    beaucoup moins compliquée et longue que de faire différents formats d' images et demander au navigateur de choisir */
}
img.responsive{
    border: 1px solid #9f68af;
    margin-top: 20px;/*me permet la séparation nette par rapport aux onglets*/
    margin-right: auto;
    margin-left: auto;
    display: block;
    max-width: 99%;
    /* Si 100%, bordure droite n'apparait pas */
    height: auto;
    /* solution pour une image responsive trouvée ici
    https://openclassrooms.com/forum/sujet/css-responsive-modifier-la-taille-des-images
    beaucoup moins compliquée et longue que de faire différents formats d' images et demander au navigateur de choisir */
}

/* Menu Déroulant sans float CSS3 et centré , GCyrillus, corrigé par Franck Chenu */

/* Base CSS sans float et centrage du menu */

ul#menu {
	display:table; /* contexte de formatage : alternative = inline-block */
	margin:auto;   /* centrage pour élément similaire a block, si inline-block, alors text-align:center; sur le parent  */
	padding:0;		/* reset marge interne */
    border-spacing: 30px 5px; /* crée un espace entre les deux bordures AT*/
}

#menu li {
	display:table-cell; /* alternative à float avec contexte de formatage */
}

#menu ul {
	padding:0;			 	/* reset marge internes */
	position:absolute;		/* extraction du flux , peut nécessité un z-index selon contexte des styles */
}

#menu ul li {
	display:block;			/* retour a un comportement de type block */
}

/* gestion des menus */

/* on cache au repos les menus */
#menu ul  {
	left:-999px;			/* on éjecte le menu de l'écran sans le rendre totalement inaccessible */
}

/* on affiche le menu au survol de son ITEM parent */
#menu li:hover ul ,#menu-gc li:focus ul{
	left:auto;				/* on laisse le navigateur faire 
	si pas de positionnement relatif impliqué dans un parent  */
}

/* un peu de mise en forme */
#menu  {
	text-align:center;
}

#menu  li {
    border: #9f68af solid 1px;
	width: 5vw;  /* choisi cette valeur après plusieurs tests */
    line-height : 2vh; /* on définit une hauteur pour chaque élément */
	background-color: #0b0011;/* BG onglet au repos*/
	
}
/* Attributs pour la texte obligatoires, a séparer des attributs de l' onglet ( dessus) Correction Franck*/
#menu li a {
	text-decoration: none;
	color: #9f68af;/* couleur font onglet au repos*/
}

/* attributs " au passage " pour l' onglet*/
#menu li:hover {
	background-color: #212020;
}

/* Attributs " au passage " pour le texte cette fois. Comme au-dessus, sinon, la font-color n' est pas prise en compte AT */
#menu li a:hover {
    color: #d592e8;
}

/* **********************début des parametres pour la barre de recherche************************************ */

.recherche{
    line-height : 2vh;
    width: 8vw;
    /* margin-left: 5vw; */
    border: #9f68af solid 2px;
}
.soumettre{
    line-height : 2.2vh;
    width: 2vw;
    background-color: #e5b8f3;
    border: #9f68af solid 2px;
    border-radius: 20%;
}

/* **************************************fin de la barre de recherche******************************************* */

#piedPage{
    margin: 0px auto;
    clear: both;
    /* supprimé le 1280px ci dessous pour avoir un width en % comme ailleurs. Pas de différence visuelle générale, mais pour avoir du responsive partout*/
    width: 75%;
    padding: 5px;
}

/* *********************player JS accueil**************************** */
/* ***********************https://codepen.io/darkosxrc/pen/XyOEJP****************** */

.info {
    position: relative;
    text-align: center;
    top: 40%;
    color: #fff;
    transform: translatey(-50%);
    line-height: 17px;
  }
  
  .info h1 {
    font-size: 80px;
    line-height: 100px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 700;
  }
  
  .radio-app * {
    max-width: 100%;
    user-select: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  #radioVolume,
  .radio-app {
    overflow: hidden;
  }
  
  #radioVolume,
  .volume-icon {
    vertical-align: middle;
    display: inline-block;
  }
  
  .volume-icon {
    position: relative;
    cursor: pointer;
    transition: all ease-out 0.15s;
    margin-right: 7px;
  }
  
  .volume-icon:hover {
    transform: scale(1.05);
  }
  
  .volume-icon.isMuted:after {
    content: "";
    display: block;
    width: 120%;
    height: 2px;
    background: red;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-10deg);
  }
  
  .highlighted {
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .left-panel,
  .right-panel {
    display: grid;
  }
  
  .radio-app {
    color: #5dacb8;
    font-weight: 100;
    display: grid;
    grid-template-columns: 1fr auto 500px;
    grid-template-rows: 1fr;
    grid-template-areas: "left-panel middle-panel right-panel";
    grid-column-gap: 20px;
    background: #001d2e;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    box-shadow: 0 0 50px 0 rgba(0, 111, 170, 0.2);
  }
  
  .radio-app .highlighted {
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.5px;
  }
  
  #selectStation li {
    transition: all ease-out 0.2s;
    padding: 0 5px;
    cursor: pointer;
    display: inline-block;
  }
  
  #selectStation li img {
    transition: all ease-out 0.2s;
    border-radius: 100%;
  }
  
  #selectStation li:hover {
    transform: scale(0.85);
    transform-origin: center center;
  }
  
  .left-panel {
    grid-template-columns: 50px 1fr;
    align-items: center;
    grid-area: left-panel;
    padding-left: 20px;
    position: relative;
  }
  
  .left-panel:before {
    position: absolute;
    right: -10px;
  }
  
  .middle-panel {
    grid-area: middle-panel;
    text-align: center;
    align-self: center;
    position: relative;
  }
  
  .middle-panel:before {
    width: 300px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .right-panel {
    grid-column-gap: 20px;
    grid-area: right-panel;
    grid-template-columns: 1fr auto;
    align-items: center;
    text-align: right;
    padding: 7px 10px 7px 0;
    position: relative;
  }
  
  #stationLoading,
  .center,
  .fl-page-nav-bottom {
    text-align: center;
  }
  
  .right-panel,
  left-panel {
    font-size: 12px;
  }
  
  .right-panel:before {
    position: absolute;
    left: -10px;
  }
  
  .volume-icon svg {
    transform: translatey(2px);
  }
  
  #radioVolume {
    -webkit-appearance: none;
    width: 115px;
    height: 20px;
    background: #05263b;
    outline: 0;
    transition: all 0.2s;
    border-radius: 30px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  }
  
  #radioVolume::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background: #5dc0c5;
    cursor: pointer;
    border-radius: 100%;
    transition: all ease-out 0.2s;
  }
  
  #radioVolume::-moz-range-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background: #5dc0c5;
    cursor: pointer;
    border-radius: 100%;
    transition: all ease-out 0.2s;
  }
  
  #radioVolume::-webkit-slider-thumb:active {
    transform: scale(1.6);
  }
  
  #radioVolume::-moz-range-thumb:active {
    transform: scale(1.6);
  }
  
  .playing-station {
    position: relative;
    transform: scale(0.85);
    z-index: 2;
  }
  
  .playing-station:after {
    content: "";
    display: block;
    width: 65px;
    height: 65px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%) scale(1.15);
    animation: playStationAnim linear 1.3s;
    animation-iteration-count: infinite;
  }
  
  @keyframes playStationAnim {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    }
    100% {
      box-shadow: 0 0 0 17px rgba(255, 255, 255, 0);
    }
  }
  
  #selectStation {
    position: relative;
  }
  
  #stationLoading {
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.6px;
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    z-index: 3;
    left: 0;
    top: 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    align-items: center;
    justify-content: center;
  }
  
  @media (max-width: 1190px) {
    .info h1 {
      font-size: 30px;
      line-height: 40px;
    }
    .middle-panel,
    .middle-panel *,
    .radio-app,
    .right-panel,
    .right-panel * {
      display: block;
    }
    .radio-app {
      text-align: center;
      padding: 10px 0;
    }
    .left-panel {
      display: none;
    }
    .middle-panel {
      text-align: center;
      padding: 5px 0 9px;
    }
    .volume-icon {
      display: inline-block;
    }
    .volume-icon img {
      width: 27px;
    }
    .right-panel {
      width: 100%;
      text-align: center;
    }
    .right-panel p {
      display: none;
    }
  }
  