body{
    background-image: url(../images/image_fond_mw.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;  
    font-family: 'arial';
    color: #9f68af;
    font-size: .7rem;
    text-align: center ;
}

#container{
    margin: 0px auto;
    width: 75%;
    overflow: hidden;
    /* me sert pour centrer mon image et avoir la bordure extérieure du header AT*/
    }
img.responsive_logo{
    display: block;
    margin-top: 10vh;
    margin-right: auto;
    margin-left: auto;
    /*centrer mon bandeau avec les deux margin dans le container*/
    max-width: 99%;
    /* Si 100%, bordure droite n'apparait pas */
    height: auto;
    /* solution pour une image responsive trouvée ici
    https://openclassrooms.com/forum/sujet/css-responsive-modifier-la-taille-des-images
    beaucoup moins compliquée et longue que de faire différents formats d' images et demander au navigateur de choisir */
}
img.responsive{
    border: 1px solid #9f68af;
    margin-top: -.1vh;/*me permet la séparation nette par rapport aux onglets
    margin-right: auto;
    margin-left: auto;
    display: block;
    max-width: 99%;
    /* Si 100%, bordure droite n'apparait pas */
    height: auto;
    /* solution pour une image responsive trouvée ici
    https://openclassrooms.com/forum/sujet/css-responsive-modifier-la-taille-des-images
    beaucoup moins compliquée et longue que de faire différents formats d' images et demander au navigateur de choisir */
}

/* début des parametres pour la nav bootstrap et la barre de recherche */

.navbar .btn{
  background: #09000e !important;
  color: #9f68af !important;
  font-size: .75rem;
  border: 1px solid #9f68af !important;
  
}
.navbar .btn:hover{
  background: #230035 !important;
}
.dropdown-menu a button{
  /* margin-left: -1rem; */
  width: 7rem;
}
.dropdown-menu{
  background: #09000e !important;
  border: 1px solid #9f68af !important;
  
}
.dropdown-menu a:hover{
  background: none !important;
}
.dropdown-menu a button:hover{
  background: #230035 !important;
}
.form-control{
  height: 3vh;
}

/* fin des reglages navbar */

/* footer */

#piedPage{
    margin: 0px auto;
    clear: both;
    /* supprimé le 1280px ci dessous pour avoir un width en % comme ailleurs. Pas de différence visuelle générale, mais pour avoir du responsive partout*/
    width: 75%;
    padding: 5px;
}

/* fin du footer */

/* *********************player JS accueil**************************** */
/* ***********************https://codepen.io/darkosxrc/pen/XyOEJP****************** */

.info {
    position: relative;
    text-align: center;
    top: 40%;
    color: #9f68af;
    -webkit-transform: translatey(-50%);
            transform: translatey(-50%);
    line-height: 17px;
  }
  
  .info h1 {
    font-size: 80px;
    line-height: 100px;
    /* margin-bottom: 10px; */
    color: #9f68af;
    /* font-weight: 700; */
  }
  
  .radio-app * {
    max-width: 100%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  #radioVolume,
  .radio-app {
    overflow: hidden;
  }
  
  #radioVolume,
  .volume-icon {
    vertical-align: middle;
    display: inline-block;
  }
  
  .volume-icon {
    position: relative;
    cursor: pointer;
    transition: all ease-out 0.15s;
    margin-right: 7px;
  }
  
  .volume-icon:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  
  .volume-icon.isMuted:after {
    content: "";
    display: block;
    width: 120%;
    height: 2px;
    background: red;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-10deg);
            transform: translate(-50%, -50%) rotate(-10deg);
  }
  
  .highlighted {
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .left-panel,
  .right-panel {
    display: grid;
  }
  
  .radio-app {
    color: #9f68af;
    font-weight: 100;
    display: grid;
    grid-template-columns: 1fr auto 500px;
    grid-template-rows: 1fr;
    grid-template-areas: "left-panel middle-panel right-panel";
    grid-column-gap: 20px;
    background: #09000e;
    border-bottom: 2px solid #9f68af;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    box-shadow: 0 0 50px 0 rgba(0, 111, 170, 0.2);
    height: 8vh;
  }
  
  .radio-app .highlighted {
    color: #9f68af;
    font-weight: 600;
    letter-spacing: 0.5px;
  }
  
  #selectStation li {
    transition: all ease-out 0.2s;
    padding: 0 5px;
    cursor: pointer;
    display: inline-block;
  }
  
  #selectStation li img {
    transition: all ease-out 0.2s;
    border-radius: 100%;
  }
  
  #selectStation li:hover {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  
  .left-panel {
    grid-template-columns: 50px 1fr;
    align-items: center;
    grid-area: left-panel;
    padding-left: 20px;
    position: relative;
  }
  
  .left-panel:before {
    position: absolute;
    right: -10px;
  }
  
  .middle-panel {
    grid-area: middle-panel;
    text-align: center;
    font-size: 1.5rem;
    align-self: center;
    position: relative;
  }
  
  .middle-panel:before {
    width: 300px;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .right-panel {
    grid-column-gap: 20px;
    grid-area: right-panel;
    grid-template-columns: 1fr auto;
    align-items: center;
    text-align: right;
    padding: 7px 10px 7px 0;
    position: relative;
  }
  
  #stationLoading,
  .center,
  .fl-page-nav-bottom {
    text-align: center;
  }
  
  .right-panel,
  left-panel {
    font-size: 12px;
  }
  
  .right-panel:before {
    position: absolute;
    left: -10px;
  }
  
  .volume-icon svg {
    -webkit-transform: translatey(2px);
            transform: translatey(2px);
  }
  
  #radioVolume {
    -webkit-appearance: none;
    width: 115px;
    height: 20px;
    background: #9f68af;
    outline: 0;
    transition: all 0.2s;
    border-radius: 30px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  }
  
  #radioVolume::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    width: 15px;
    height: 15px;
    background: #5dc0c5;
    cursor: pointer;
    border-radius: 100%;
    transition: all ease-out 0.2s;
  }
  
  #radioVolume::-moz-range-thumb {
    -moz-appearance: none;
         appearance: none;
    width: 15px;
    height: 15px;
    background: #1f002e;
    cursor: pointer;
    border-radius: 100%;
    transition: all ease-out 0.2s;
  }
  
  #radioVolume::-webkit-slider-thumb:active {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
  
  #radioVolume::-moz-range-thumb:active {
    transform: scale(1.6);
  }
  
  .playing-station {
    position: relative;
    -webkit-transform: scale(0.55);
            transform: scale(0.55);
    z-index: 2;
  }
  
  .playing-station:after {
    content: "";
    display: block;
    width: 65px;
    height: 65px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    -webkit-transform: translate(-50%, -50%) scale(1.15);
            transform: translate(-50%, -50%) scale(1.15);
    -webkit-animation: playStationAnim linear 1.3s;
            animation: playStationAnim linear 1.3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  
  @-webkit-keyframes playStationAnim {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0 17px rgba(255, 255, 255, 0);
  }
}

  @keyframes playStationAnim {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    }
    100% {
      box-shadow: 0 0 0 17px rgba(255, 255, 255, 0);
    }
  }
  
  #selectStation {
    position: relative;
  }
  
  #stationLoading {
    color: #9f68af;
    font-weight: 600;
    letter-spacing: 0.6px;
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    z-index: 3;
    left: 0;
    top: 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    align-items: center;
    justify-content: center;
  }
  
  @media (max-width: 1190px) {
    .info h1 {
      font-size: 30px;
      line-height: 40px;
    }
    .middle-panel,
    .middle-panel *,
    .radio-app,
    .right-panel,
    .right-panel * {
      display: block;
    }
    .radio-app {
      text-align: center;
      padding: 10px 0;
    }
    .left-panel {
      display: none;
    }
    .middle-panel {
      text-align: center;
      padding: 5px 0 9px;
    }
    .volume-icon {
      display: inline-block;
    }
    .volume-icon img {
      width: 27px;
    }
    .right-panel {
      width: 100%;
      text-align: center;
    }
    .right-panel p {
      display: none;
    }
  }
  